*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'verdana';
}


li:last-child {
    border-bottom: solid 1px #ccc;
    width: 200px;
}

li {
    padding: 10px;
}

input, select, button{
    width: 95vw;
    margin: 0 20px 20px 20px;
    padding: 10px;
    background-color: #f4f2f2;
    border: 1px solid #ccc;
    
}
label{
    margin: 0 20px;
}

input:focus, select:focus{
    outline: none;
    background-color: #d7d5d5;
}

button{
    cursor: pointer;
    background-color: #4040a4;
    color: #fff;
    text-transform: uppercase;
}

button:hover{
    background-color: #6666b3;
}
